<!--
  Generated template for the Teacher page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hello teacher!</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <button ion-button full icon-left on-tap="addStory()"><ion-icon name="add"></ion-icon>Add story</button>

  <ion-list-header>
    Stories
  </ion-list-header>

  <ion-list>
    <ion-item *ngFor="let story of storyProvider.all() | async" (click)="openStory(story.$key, story)">
      <!--<ion-item *ngFor="let story of storyProvider.all()" (click)="openStory(story)">-->
      <p>{{story.title}}</p>
    </ion-item>
  </ion-list>
</ion-content>
